* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PressStart2P";
    src: url("varios/fuente/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
}

.contenedor-principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedor-principal>footer {
    margin-top: auto;
}


body {
    background-image: url(varios/otros/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f5f5f5;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    padding-bottom: 50px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fbff00;
}

h1,
h2,
h3,
h4 {
    color: #a215b1;
    margin-bottom: 10px;
}
/*Tooodo esto para que parpadee y brille el título */

@keyframes parpadeo-irregular {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        opacity: 1;
        text-shadow:
            0 0 5px rgb(166, 0, 255),
            0 0 10px rgb(0, 76, 255),
            0 0 20px rgb(217, 0, 255),
            0 0 40px rgb(255, 0, 4);
    }

    20%,
    22%,
    24%,
    55% {
        opacity: 0.5;
        text-shadow: none;
    }
}

.titulo h1,
h2 {
    font-family: "PressStart2P", monospace;
    font-size: 2.5em;
    color: #00ffff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 #000;
    text-transform: uppercase;
    animation: parpadeo-irregular 4s infinite;
}

@keyframes brillar-suave {

    0%,
    100% {
        opacity: 1;
        text-shadow:
            0 0 4px rgb(255, 0, 170),
            0 0 8px rgb(255, 0, 195);
    }

    50% {
        opacity: 0.6;
        text-shadow:
            0 0 2px rgb(255, 0, 200);
    }
}

.slogan {
    font-style: italic;
    font-size: 1em;
    color: rgb(193, 16, 16);
    text-shadow:
        0 0 2px rgb(255, 0, 132),
        0 0 6px rgb(255, 0, 140);
    animation: brillar-suave 3s infinite ease-in-out;
}

/* Parte del header */
header {
    background-color: #111;
    padding: 20px;
    border-bottom: 3px solid #444;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
}

.titulo h1 {
    font-size: 2em;
    margin: 0;
}

.slogan {
    font-style: italic;
    color: #ccc;
    font-size: 0.9em;
    margin-top: 5px;
}


/* Barra de navegación */
nav {
    margin-top: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #00ffff;
    padding: 5px 10px;
    transition: background 0.3s;
}

nav a:hover {
    background-color: #333;
    border-radius: 5px;
}

.menu-desplegable {
    position: relative;
}

.menu-desplegable .submenu {
    display: none;
    position: absolute;
    background-color: #111;
    border: 1px solid #444;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 150px;
    z-index: 10;
}

.menu-desplegable:hover .submenu {
    display: block;
}

.menu-desplegable .submenu li {
    width: 100%;
}

.menu-desplegable .submenu a {
    display: block;
    padding: 10px;
    color: #00ffff;
    background-color: #111;
    text-align: left;
    border-bottom: 1px solid #333;
}

.menu-desplegable .submenu a:hover {
    background-color: #222;
}


/* Clases para el Index */
.hero-completa .presentacion-tienda {
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}

.hero-completa .presentacion-tienda h3 {
    color: #0ff;
    margin-bottom: 10px;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 1000px;
    margin: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-completa .imagenes-presentacion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.hero-completa .imagen img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid #444;
}

.hero-completa .leyenda {
    font-size: 0.9em;
    color: #ccc;
    margin-top: 5px;
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

section hr {
    margin: 40px 0;
    border-color: #333;
}

.conocenos .imagen img,
.tienda-info .imagen img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid #444;
}

.boton {
    display: inline-block;
    background-color: #00ffff;
    color: #000;
    padding: 12px 25px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.boton:hover {
    background-color: #00cccc;
}

/* Footer */
footer {
    background-color: #000;
    text-align: center;
    color: #999;
    padding: 30px 20px;
    margin-top: auto;
    font-size: 0.9em;
}

footer a {
    color: #00ffff;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

/* Páginas de productos */
.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.producto {
    background-color: #111;
    border: 1px solid #333;
    padding: 10px;
    width: 18%;
    min-width: 180px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
}

.producto img {
    width: 100%;
    max-height: 145px;
    object-fit: contain;
    margin-bottom: 5px;
}

.producto h3 {
    color: #0ff;
    margin: 8px 0 4px;
    min-height: 2.4em;
    overflow: hidden;
}

.precio {
    color: #fff;
    font-weight: bold;
    margin: 8px 0;
    font-size: 0.95em;
}

.producto .boton {
    margin-top: auto;
    background-color: #0ff;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
    border: none;
}

.producto .boton:hover {
    background-color: #8b208f;
}

.paginacion {
    text-align: center;
    margin: 30px 0;
}

.paginacion a {
    margin: 0 8px;
    padding: 8px 12px;
    background-color: #222;
    color: #0ff;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #444;
}

.paginacion a:hover {
    background-color: #0ff;
    color: #000;
}

.detalle-producto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #111;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 30px auto;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}

.detalle-producto img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    border: 1px solid #444;
}

.info-producto {
    flex: 1;
    min-width: 250px;
}

.info-producto h3 {
    color: #0ff;
    margin-bottom: 10px;
}

.info-producto p {
    margin: 10px 0;
    color: #ddd;
}

.info-producto .precio {
    font-size: 1.3em;
    font-weight: bold;
    color: #0ff;
    margin: 20px 0;
}

.info-producto .boton {
    padding: 12px 20px;
    background-color: #0ff;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.info-producto .boton:hover {
    background-color: #00cccc;
}

/* Formulario para contactos */

.formulario-contacto {
    max-width: 600px;
    margin: 30px auto;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
}

.formulario-contacto label {
    display: block;
    margin-top: 15px;
    color: #0ff;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 1em;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus {
    outline: none;
    border: 1px solid #0ff;
}

.formulario-contacto .boton {
    margin-top: 20px;
    background-color: #0ff;
    color: #000;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contacto .boton:hover {
    background-color: #00cccc;
}

.contenido-sobre {
    max-width: 900px;
    margin: 30px auto;
    background-color: #111;
    padding: 30px;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}

.contenido-sobre h2,
.contenido-sobre h3 {
    color: #0ff;
    margin-bottom: 10px;
}

.contenido-sobre p {
    margin: 10px 0;
    color: #ddd;
}

.mapa {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border: 0;
    display: block;
}

.intro {
    max-width: 900px;
    margin: 30px auto 10px auto;
    padding: 0 20px;
    text-align: left;
}


.blog-entradas {
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.entrada {
    background-color: #111;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
}

.miniatura-blog {
    width: 100%;
    max-width: 300px;
    height: auto;
    float: left;
    margin: 0 15px 15px 0;
    display: block;
    margin: 0 auto 25px;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.1);
}


.entrada h3 {
    color: #0ff;
    margin-bottom: 10px;
}

.entrada .fecha {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 10px;
}

.entrada p {
    color: #ddd;
    line-height: 1.5;
}

.notfound-contenido {
    text-align: center;
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
}

.notfound-contenido h2 {
    color: #0ff;
    margin-top: 20px;
}

.notfound-contenido p {
    color: #ccc;
    margin: 15px 0 30px;
    font-size: 1.1em;
}

.gif-error {
    width: 100%;
    max-width: 250px;
    border: 1px solid #ff0000;
    margin-bottom: 20px;
}

.boton.volver {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.boton.volver:hover {
    background-color: #d87a23;
}