table {
   table-layout: fixed;
   border: 2px solid;
   border-spacing: 30px 10px;
   width: 200px;
}

caption {
   caption-side: bottom;

}

td {
   border: 2px solid;
   width: 200px;
}

td:empty,
td:empty+td {
   display: none;
}



