.primero {
    color: teal;
}

.segundo {
    color: red;
}

.tercero {
    color: blue;
}

.cuarto {
    color: orange;
}

.quinto {
    color: purple;
}

.sexto {
    color: olive;
}

.septimo {
    color: fuchsia;
}

.octavo {
    color: green;
}

td:nth-child(2){
    background-color: red;
}

td:nth-child(3){
    background-color: green;
}

td:nth-child(4){
    background-color: blue;
}