*{
    margin: 0px;
    padding: 0px;
}

body{
    width: auto;
    height: 70px;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    text-decoration: none;

}

.cabecera {
    width: 800px;
    align-items: center;
    margin: 20px;
}

header {
    width: auto;
    height: 70px;
    position: relative;
    background-color: #a8d4ae;

}

nav {
    display: flex;
    width: 1024px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateX(220px);

}

nav img {
    size: 10px;
    align-items: center;

}

nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
    border: 1px solid #3a4d3d;
    padding: 5px;
    margin: 3px;
    font-size: 20px;

}

nav ul li a {
    text-decoration: none;
    color: rgb(54, 71, 53);
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(64, 79, 64);
    color: white;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #a8d4ae;

}

.submenu li a:hover{
    background-color: rgb(59, 77, 59);
    color: white;
}

nav ul li:hover .submenu {
    display: block;
}

h1 {
    color: #a8d4ae;
    padding-top: 20px;
}

h2 {
    font-size: 24px;
}

.web {
    width: 80%;
    max-width: 1024px;
    margin: 20px auto;
    
}

.inicio {
    background-image: url(./img/fondo.jpg);
    
}

.personajes {
    background-image: url(./img/rivendel.jpg);

}

.lugares {
    background-image: url(./img/mordor.jpg);

}

section {
    margin: 25px auto;
    padding: auto;
    background-color: #3a4d3db5;
    width: 1024px;
    height: 1024px;
    color: #a8d4ae;

}

section img {
  margin: 20px;
  width: 500px;


}

button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #889f8b;
    color: #a8d4ae;
    border: 3px solid rgb(87, 102, 87);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-style: italic;

}

button:hover {
    background-color: rgb(87, 102, 87);
    border: 3px solid #889f8b;
    border-radius: 20px;

}

cite{
    width: auto;
    height: 70px;
    text-align: center;
    color: black;
}

p {
    font-style: italic;
    font-size: 30px;
}