body{
    margin: 40px;
    font-size: x-large;
    background-color: rgb(81, 70, 175);

}

h1{
    text-align: center;
    font-style: oblique;
}

h2{
    font-style: oblique;
    font-size: x-large;
}

.man{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}

.leveling{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(113, 124, 242);
    color: rgb(255, 221, 0);
}

.frieren{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(113, 225, 242);
    color: rgb(98, 0, 255);
}

.goblin{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(34, 118, 41);
    color: rgb(0, 0, 0);
}

.berserk{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(24, 26, 184);
    color: rgb(255, 9, 9);
}


.anime1 li{
    list-style: square;

}

.protas1 li{
    list-style: ethiopic-numeric inside;
    margin-left: 150px;
    padding-bottom: 15px;

}

.anime2 li{
    list-style: circle;

}

.protas2 li{
    list-style: kannada;
    margin-left: 190px;
    padding-bottom: 15px;
}

.anime3 li{
    list-style: katakana;

}

.protas3 li{
    list-style: georgian inside;
    margin-left: 200px;
    padding-bottom: 15px;
}

.anime4 li{
    list-style: hebrew;

}

.protas4 li{
    list-style: lower-latin;
    margin-left: 170px;
    padding-bottom: 15px;
}

.anime5 li{
    list-style: decimal-leading-zero;

}

.protas5 li{
    list-style: japanese-informal inside;
    margin-left: 180px;
    padding-bottom: 15px;
}