body {
    margin: 0;
    display: flex;
    flex-direction: column;   
    align-items: left;
    background-color: #ffd386;   
}

header {
    background-color: #d77d16;
    font-style: italic;
    font-size: x-large;
    padding: 5px;
}

h1{
    color: #7700ff;
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: #d7168a;
    font-style: inherit;
    font-size: xx-large;
}

h3 {
    color: #972db7;
    font-style: italic;
    font-size: larger;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 40px;
    

}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

nav a:hover{

    background-color: rgba(125, 68, 231, 0.784);
    color: white;
    border-radius: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(26, 58, 122);
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido{
    width: 100%;
    max-width: 700px;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #e3ad6f;
    margin: 5px;
    border-radius: 30px;
}


.imagen {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 2px solid #5d00ff;
    

}

footer {
    background-color: #d77d16;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: left;
    padding: 3px;
}