h1 {
    text-align: center;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#contenido {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#columna-izquierda {
    width: 25%;
    padding: 15px;
}

#columna-derecha {
    width: 75%;
    padding: 15px;
}

#contenido-libro li {
    column-count: 1;
}

@media (min-width: 300px) {
    #contenido-libro {
        column-count: 3;
        column-gap: 20px;
        text-align: justify;
        display: flex;
    }
}

#contenido-libro li {
    break-inside: avoid;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
    text-align: left;
    display: flex;
}