h1{
    font-size:45px;
    margin-left: 35px;
}

.menu {
    list-style-type: none;
}

.menu li {
    margin-bottom: 15px;

}

.menu a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    font-size: x-large;
    text-align: center;
    width: 130px;

}

.menu a:hover{
    border: 3px solid red;

}

.menu a:focus {
    border: 3px solid red;
}